extends layout.pug
append head
    link(rel='stylesheet' href='/stylesheets/board.css')

block content
    if recipesOnSpecificBoard.Recipes.length > 0
        div.parentDiv
            h1.board-title= recipesOnSpecificBoard.name
            div.board-div
                for recipe in recipesOnSpecificBoard.Recipes
                    div.recipe-container
                        a(href=`/recipes/${recipe.id}`)
                            img(src= recipe.image)
                            h3= recipe.title
                            form(method='POST' action=`/boards/${boardId}/${recipe.id}/delete`)
                                button.delete-from-board-button(type='submit') Delete From Board
    else
        div.error-div
            h1.board-title= recipesOnSpecificBoard.name
            p You have no recipes on this board -
                a(href='/recipes')  add recipes
