extends layout.pug

block content



    div.parentDivOne
        div.imageDiv
            img(src= recipe.image)
        div.textDiv
            h2#category= category
            h1#recipe-title= recipe.title
            h2#recipe-author= `By ${recipe.author}`
            div#rating-container
                if avgratings > 0
                    while avgratings-- && avgratings > -.1
                        <span class="fa fa-star checked"></span>
                    if avgratings === -.5
                        <span class="fa fa-star-half-o checked"></span>
                else
                    p#no-ratings-yet Leave the first rating!
            if locals.authenticated
                if errors
                    each error in errors
                        li= error
                a(href="/boards/new") Create a new board!
                form(action=`/recipes/${recipe.id}/boards` method="post")
                    select#board-selector(name="addToBoard")
                        each board in recipeBoards
                            option(value= board.id)= board.name
                    button#add-to-board-button(type="submit") Add to Board
                p#userId= locals.userId
            if !locals.authenticated
                a#log-in-to-create-board(href=`/users/login`) Log in to create a board!
    div.parentDivTwo
        div#ingredients-container
            h1#ingredients-header Ingredients
            hr
            div.ingredients
                each ingredient in recipe.Ingredients
                    p= ingredient.amount + " " + ingredient.measurementUnit + " " + ingredient.name
        div#instructions-container
            h1#ingredients-header Instructions
            hr
            div.instructions
                each instruction in formmattedInstructions
                    p= instruction
                    br
    hr#full-page
    h1#ratings-and-reviews Ratings and Reviews
    br
    div.reviewsContainer
        if locals.authenticated
            if userId
                #temp-container
            if !userHasReview
                form#submitReviewForm(action=`/recipes/${recipe.id}/review/add`, method="post")
                    input(type="hidden" value=csrfToken name="_csrf")
                    textarea#review-input(name="reviewbody" value= reviews.reviewText maxlength='255' )
                    br
                    button(type="submit" id="submitReviewButton" value=`${recipe.id}`) Submit Review
        div#individual-reviews
            if reviews
                each review in reviews
                    div(class=`single-review-${review.id} red single-review-box` reviewId= review.id)
                        p.username= review.User.username
                        if ratingsObj[review.userId] !== undefined
                            while ratingsObj[review.userId]-- && ratingsObj[review.userId] > -.1
                                <span class="fa fa-star checked"></span>
                            if ratingsObj[review.userId] === -.5
                                <span class="fa fa-star-half-o checked"></span>
                        p.review-date= datesObj[review.id]
                        p(id=`review-body-${review.id}` class='single-review')= review.reviewText
                        hr#review-separator

                        if locals.userId === review.userId
                            .edit-and-delete-buttons
                                form.editform(action=`/recipes/reviews/${review.id}/edit`, method="post")
                                    button(value=`${review.id}` class="editbtn")#editButton Edit
                                form.deleteform(action=`/recipes/reviews/${review.id}/delete`, method="post")
                                    button(value=`${review.id}` class="deletebtn")#deleteButton Delete
        br#ratings-separator


        unless locals.authenticated
            p#notloggedtext Please Log In or Register to add a rating and write a review!
    script(src='/javascripts/ratings.js')
