extends layout.pug

append head 
    link(rel='stylesheet' href='/stylesheets/recipes.css')
    
block content
    div.parentRecipeDiv
        h2 Italian
        div.catDiv
            each recipe in recipes
                if recipe.categoryId < 2
                    div.recipeContainer
                        a(href=`/recipes/${recipe.id}`)
                            img(src= recipe.image)
                            h3= recipe.title
        h2 Mexican
        div.catDiv
            each recipe in recipes
                if recipe.categoryId > 1 && recipe.categoryId < 3
                    div.recipeContainer
                        a(href=`/recipes/${recipe.id}`)
                            img(src= recipe.image)
                            h3= recipe.title

        h2 Korean
        div.catDiv
            each recipe in recipes
                if recipe.categoryId > 2 && recipe.categoryId < 4
                    div.recipeContainer
                        a(href=`/recipes/${recipe.id}`)
                            img(src= recipe.image)
                            h3= recipe.title

        h2 Vietnamese
        div.catDiv
            each recipe in recipes
                if recipe.categoryId > 3
                    div.recipeContainer
                        a(href=`/recipes/${recipe.id}`)
                            img(src= recipe.image)
                            h3= recipe.title
